
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

header {
    background-color: #9648fc;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

.txteimg{
    display: flex;
    
}

#cglogo {
    display: flex;
    flex-direction: row;
    height: 80px;
    margin-left: 0px;
}

#titulo {
    font-family: 'Permanent Marker', cursive;
    flex-direction: column;
    line-height: 10px;
    margin-left: 20px;

}

#titulo:hover {
    font-size:20px ;
}


li {
    display: inline-block;
    margin: 25px;
    font-family: 'Courier New', Courier, monospace;
}

li:hover {
    color: rgb(0, 0, 0);
    transition: 0.3s all;
}

#adotebotao {
    border: 2px solid blue;
    padding: 10px;
    border-radius: 20px;
    margin-right: 20px;
}

a {
    color: white;
}

.corpo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    justify-content: space-around;
}

h2 {
    color: #9648fc;
    align-self: center;
    align-items: center;
}

.caixas {
    display:flex;
    flex-direction: column;
}

.primeiracaixa {
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(68, 68, 253);
    padding: 20px;
    border-radius: 5px;
}

#imgcaixa {
    height: 100px;
}

h3 {
    margin: 1px;
}

.textocaixa {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    margin: 1px;    
}

.segundacaixa {
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(68, 68, 253);
    padding: 20px;
    border-radius: 5px;
}

#imgcaixa {
    height: 100px;
}

h3 {
    margin: 1px;
}

.textocaixa {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    margin: 1px;
}

.terceiracaixa {
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(68, 68, 253);
    padding: 20px;
    border-radius: 5px;
}

#imgcaixa {
    height: 100px;
}

h3 {
    margin: 1px;
}

.textocaixa {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    margin: 1px;
}

img {
    height: 300px;
    border-radius: 20px;
    
}

.direita {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botao2 {
    border-color: rgb(97,51,135);
    background-color: rgb(97,51,135);
    color: rgb(255,255,255,);
    width: 300px;   
    display: block;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border-width: 1px;
    padding: 5px;
    text-align: center;
    font-size: large;
}

footer {
    margin: 10px;

}